<?php  
class Env{
    public static $env = [
        'DB_HOST' => 'localhost',
        'DB_USER' => '',
        'DB_PWD' => '',
        'DB_CHARSET' => 'utf8mb4',
        'DB_DBNAME' => 'webtrain_messageboard'
    ];  
}
