<?php
/**
 * 環境變數
 */
class env{

    /** @var array 資料庫相關的環境變數 */
    public static $env = [
        'DB_HOST' => 'localhost',
        'DB_USER' => '',
        'DB_PWD' => '',
        'DB_CHARSET' => 'utf8mb4',
        'DB_DBNAME' => 'webtrain_messageboard'
    ];  
}
